{#
    https://chucktaylorswift.com/articles/{slug}
    Article Entry
    Template
#}

{% extends '_partials/base' %}
{% import '_partials/macros/crumbs.html' as crumbs %}
{% set thisPage = 'Article' %}
{% set page = craft.entries.section('pages').slug('article').one() %}
{% block main %}
  <main id="panel" role="main" class="slideout-panel">
    {% block aside %}
      {{ parent() }}
    {% endblock aside %}

    {% set time = readTime(entry, false) %}
    {% set image = entry.articleCover.one() %}
    <section class="article page">
      <ul class="crumbs">
        <li><a href="/" title="Home">Home</a></li>
        <i class="fas fa-angle-right"></i>
        <li><a href="/articles" title="All">Articles</a></li>
        <i class="fas fa-angle-right"></i>
        <li>{{ entry.title }}</li>
      </ul>
      <figure class="full-cover" {% if image %} style="background:url('{{ image.url }}') 100%;{% endif %}">
        <h1>{{ entry.title }}</h1>
      </figure>
      <figcaption class="full-meta">
        <span>
          <p class="date">{{ entry.dateCreated | date("F j, Y") }}</p>
          <p>{{ time.interval('%i min') }} read</p>
        </span>
        <span class="share icon">
          <a href="#" class="share"><i class="far fa-share-square"></i></a>
        </span>
        <span class="gallery icon">
          <a href="/gallery"><i class="fas fa-th-large"></i></a>
        </span>
      </figcaption>
    </div>
      <article class="full">
        <p>By {{ entry.author }}</p>
        <h2>{{ entry.subHeading }}</h2>
        <span class="body">
          {{ entry.articleBody }}
        </span>
      </article>
    {% if entry.tags | length %}
      <caption class="tags">
        <ul>
          {% for tag in entry.tags %}
            <li>
              <a href="{{ siteUrl }}tags/{{ tag.title | url_encode }}">{{ tag.title }}</a>
            </li>
          {% endfor %}
        </ul>
      </caption>
    {% endif %}
    </section>
    <section class="disqus-comments">
    {% block disqus %}
      <div id="disqus_thread"></div>
      <script>
        var disqus_config = function () {
          var disqus_shortname = 'chucktaylorswift';
          this.page.url = '{{ entry.url }}';
          var disqus_identifier = 'blog-{{ entry.id }}';
        };

        (function() { // DON'T EDIT BELOW THIS LINE
        var d = document, s = d.createElement('script');
        s.src = 'https://chucktaylorswift.disqus.com/embed.js';
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
        })();
      </script>
      <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    {% endblock disqus %}
    </section>
  </main>
{% endblock %}

